<template>
  <button class="ladda-button btn" @click.prevent="handleClick" :data-style="laddaStyle" :data-size="laddaSize" :data-spinner-color="laddaColour">
    <span class="ladda-label">
      <slot></slot>
    </span>
  </button>
</template>

<style src="ladda/dist/ladda.min.css"></style>

<script>
import ladda from 'ladda'

export default {
  props: {
    click: {
      required: true,
      type: Function
    },
    arguments: {
      required: false,
      type: Array,
      default () {
        return []
      }
    },
    done: {
      required: false,
      type: Function
    },
    laddaStyle: {
      required: false,
      type: String,
      default: 'slide-left'
    },
    delay: {
      required: false,
      type: Number,
      default: 500
    },
    laddaSize: {
      required: false,
      type: String
    },
    laddaColour: {
      required: false,
      type: String,
      default: '#ffffff'
    }
  },

  data () {
    return {
      instance: null
    }
  },

  /**
    * When mounted we create the Ladda instance.
    *
    * @return void
    */
  mounted () {
    this.instance = ladda.create(this.$el)
  },

  methods: {
    /**
      * When the button is clicked we start the Ladda button then pass all the
      * desired arguments into the "onClick" handler.
      *
      * @return void
      */
    handleClick () {
      this.instance.start()

      this.click(...this.arguments)
        .then(this.stop)
        .then(typeof this.done === 'function' ? this.done : Promise.resolve)
        .catch(this.stop)
    },

    /**
      * Stop the instance after a given delay.
      *
      * @return void
      */
    stop () {
      let params = arguments

      return new Promise((resolve) => {
        setTimeout(() => {
          this.instance.stop()

          resolve(...params)
        }, this.delay)
      })
    }
  }
}
</script>
